<div class="table-responsive">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Descripción</th>
        <th style="text-align: right">Importe</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor [ngForOf]="gastos" let-gasto>
        <tr style="font-weight: bold" *ngIf="gasto.id !== gastoEdicion?.id">
          <td>{{ gasto.fecha | date:'EEE dd MMM yyyy HH:mm' }}</td>
          <td>{{ gasto.descripcion }}</td>
          <td class="text-right">{{ gasto.importe | currency:'MXN':true }}</td>
          <td class="text-right">
            <button type="button" class="btn btn-sm btn-primary" (click)="editarGasto(gasto)">
              <span class="material-icons">create</span>
            </button>
            &nbsp;
            <button type="button" class="btn btn-sm btn-danger" (click)="eliminarGasto(gasto)">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
        <tr style="font-weight: bold" *ngIf="gasto.id === gastoEdicion?.id">
          <td><input class="form-control" type="datetime-local" name="gastoEdicion.fecha" [(ngModel)]="gastoEdicion.fecha" /></td>
          <td><input class="form-control" type="text" name="gastoEdicion.descripcion" [(ngModel)]="gastoEdicion.descripcion"/></td>
          <td><input class="form-control" type="number" name="gastoEdicion.importe" [(ngModel)]="gastoEdicion.importe" step="0.01"/></td>
          <td class="text-right">
            <button type="button" class="btn btn-sm btn-primary" (click)="guardarGasto(gasto)">
              <span class="material-icons">done</span>
            </button>
            &nbsp;
            <button type="button" class="btn btn-sm btn-secondary" (click)="cancelarEdicion()">
              <span class="material-icons">restore</span>
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <input class="form-control" type="datetime-local" name="nuevoGasto.fecha" [(ngModel)]="nuevoGasto.fecha" />
        </td>
        <td>
          <input class="form-control" type="text" name="nuevoGasto.descripcion" [(ngModel)]="nuevoGasto.descripcion" />
        </td>
        <td>
          <input class="form-control" type="number" name="nuevoGasto.importe" [(ngModel)]="nuevoGasto.importe" step="0.01"
          />
        </td>
        <td class="text-right">
          <button type="button" class="btn btn-sm btn-primary" (click)="guardarNuevoGasto()">
            <span class="material-icons">done</span>
          </button>
          &nbsp;
          <button type="button" class="btn btn-sm btn-secondary" (click)="resetNuevoGasto()">
            <span class="material-icons">restore</span>
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!--<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Descripción</th>
      <th style = "text-align: right">Importe</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor [ngForOf]="gastos" let-dia>
      <tr style="font-weight: bold">
        <td colspan="2">{{ dia.fecha | date: 'EEE dd-MM-yyyy' }}</td>
        <td style="text-align: right">{{ dia.total | currency:'MXN':true }}</td>
      </tr>
      <ng-template ngFor [ngForOf]="dia.gastos" let-gasto>
      <tr>
          <td>{{ gasto.Fecha | date:'shortTime' }}</td>
          <td>{{ gasto.Descripcion }}</td>
          <td style="text-align: right">{{ gasto.Importe | currency:'MXN':true }}</td>
      </tr>
  </ng-template>
  </ng-template>
  </tbody>
</table>-->
