<!--The content below is only a placeholder and can be replaced.-->
<ngx-loading-bar></ngx-loading-bar>

<div style="text-align:center">
  <h1>
    Administración de gastos
  </h1>
</div>

<ngb-tabset>
    <ngb-tab title="Listado">
      <ng-template ngbTabContent>
          <app-gastos></app-gastos>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Saldos">
        <ng-template ngbTabContent>
            <app-saldos></app-saldos>
          </ng-template>
    </ngb-tab>
    <ngb-tab title="Mensualidades">
        <ng-template ngbTabContent>
            <app-mensualidades></app-mensualidades>
          </ng-template>
    </ngb-tab>
    <!--
    <ngb-tab title="Resumen">
      <ng-template ngbTabContent>
          <app-gastos-diarios></app-gastos-diarios>
        </ng-template>
    </ngb-tab>-->
    <ngb-tab title="Pronóstico">
      <ng-template ngbTabContent>
        <app-pronostico></app-pronostico>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="+">
      <ng-template ngbTabContent>
        <app-alta></app-alta>
      </ng-template>
    </ngb-tab>
</ngb-tabset>